.github-icon:hover {
    color: rgb(57, 127, 207);
}
.linkedin-icon:hover {
    color: rgb(57, 127, 207);
}
.email-icon:hover {
    color: rgb(57, 127, 207);
}
.icon-social {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 11.35rem;
  height: 3.5rem;
}
.profile {
    font-family: "Raleway", Helvetica, sans-serif;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    letter-spacing: 0.25em;
    line-height: 1.65;
    color: #3c3b3b;
    width: 35.5rem; 
    height: 80vh;
}
.profile-image {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}
img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
.headline {
    font-size: 1.5em;
    font-weight: 900;
    padding-top: 1.25rem;
    position: absolute;
    left: 50%;
    text-transform: uppercase;
    transform: translateX(-50%);
    height: 3rem;
}
.about {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 6rem;
    height: 27rem;
} 
.about h2 {
    text-transform: uppercase;
    font-size:0.8em;
    margin: 0 0 1.5em;
    font-weight: 800;
}
.about p {
    font-size: 0.9em;
    letter-spacing: 0;
    margin: 0 0 2em;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    color: #3c3b3b;
}